<div class="loading">
    <div class="loading-wrap">
        <div class="spinner-fast">
            <div class="spinner-fast">
                <div class="spinner-fast">
                    <div class="spinner-fast">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>