<header class="navbar navbar-inverse bs-docs-nav navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">CPFMS</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Masters <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/accounthead">
                                <h4>Account Head</h4>
                            </a></li>
                        <li><a href="/subaccount">
                                <h4>Sub Account</h4>
                            </a></li>
                        <li><a href="/accountbalance">
                                <h4>Account Balance</h4>
                            </a></li>
                        <hr>
                        <li><a href="/organization">
                                <h4>Organization</h4>
                            </a></li>
                        <li><a href="/cowcast">
                                <h4>Cow-Cast</h4>
                            </a></li>
                        <hr>
                        <li><a href="/resourceperson">
                                <h4>Resource Person</h4>
                            </a></li>
                        <li><a href="/activity">
                                <h4>Activity</h4>
                            </a></li>
                        <hr>
                        <li><a href="/district">
                                <h4>District</h4>
                            </a></li>
                        <li><a href="/taluka">
                                <h4>Taluka</h4>
                            </a></li>
                        <li><a href="/village">
                                <h4>Village</h4>
                            </a></li>
                        <hr>
                        <li><a href="/issueitem">
                                <h4>Monthly Issue Item</h4>
                            </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transaction <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/receipt">
                                <h4>Receipt</h4>
                            </a></li>
                        <li><a href="/payment">
                                <h4>Payment</h4>
                            </a></li>
                        <hr>
                        <li><a href="/activityentry">
                                <h4>Activity Entry</h4>
                            </a></li>
                        <li><a href="/jv">
                                <h4>Journal Voucher</h4>
                            </a></li>
                        <li><a href="/autointerest">
                                <h4>Auto Interest</h4>
                            </a></li>
                        <hr>
                        <li><a href="/resourcepersonbill">
                                <h4>Resource Person Bill</h4>
                            </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/report/accounthead">
                                <h4>Account Head</h4>
                            </a></li>
                        <li><a href="/payment">
                                <h4>Account Balance</h4>
                            </a></li>
                        <hr>
                        <li><a href="/activityentry">
                                <h4>Transaction</h4>
                            </a></li>
                        <li><a href="/jv">
                                <h4>Receipt Report</h4>
                            </a></li>
                        <li><a href="/autointerest">
                                <h4>Transaction Report</h4>
                            </a></li>
                        <hr>
                        <li><a href="/resourcepersonbill">
                                <h4>Resource Person Bill</h4>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <a href="/auth/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>