<header class="navbar navbar-inverse bs-docs-nav navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">CPFMS</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Masters <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/accounthead">
                                <h4>Account Head</h4>
                            </a></li>
                        <li><a href="/subaccount">
                                <h4>Sub Account</h4>
                            </a></li>
                        <li><a href="/accountbalance">
                                <h4>Account Balance</h4>
                            </a></li>
                        <hr>
                        <li><a href="/organization">
                                <h4>Organization</h4>
                            </a></li>
                        <li><a href="/cowcast">
                                <h4>Cow-Cast</h4>
                            </a></li>
                        <hr>
                        <li><a href="/resourceperson">
                                <h4>Resource Person</h4>
                            </a></li>
                        <li><a href="/activity">
                                <h4>Activity</h4>
                            </a></li>
                        <hr>
                        <li><a href="/district">
                                <h4>District</h4>
                            </a></li>
                        <li><a href="/taluka">
                                <h4>Taluka</h4>
                            </a></li>
                        <li><a href="/village">
                                <h4>Village</h4>
                            </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transaction <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/receipt">
                                <h4>Receipt</h4>
                            </a></li>
                        <li><a href="/payment">
                                <h4>Payment</h4>
                            </a></li>
                        <hr>
                        <li><a href="/jv">
                                <h4>Journal Voucher</h4>
                            </a></li>
                        <li><a href="/activity-jv">
                                <h4>Activity JV</h4>
                            </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle fs-18" data-toggle="dropdown">Master Reports <span
                                    class="right-align"><b class="caret caret-right"></b></span></a>
                            <ul class="dropdown-menu submenu">
                                <li>
                                    <a href="/report/accounthead">
                                        <h4>Society List</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/accountheaddetails">
                                        <h4>Society Details</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/cowcastdetails">
                                        <h4>Cow Cast</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/organizationdetails">
                                        <h4>Organization</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/rpsummary">
                                        <h4>R.P. List</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/rpdetails">
                                        <h4>R.P. Details</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/insurancedetails">
                                        <h4>Insurance Details</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/talukalistsummary">
                                        <h4>Taluka List</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/talukadetails">
                                        <h4>Taluka Details</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/districtlistsummary">
                                        <h4>District List</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/districtdetails">
                                        <h4>District Details</h4>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle fs-18" data-toggle="dropdown">Transaction Reports <span
                                    class="right-align"><b class="caret caret-right"></b></span></a>
                            <ul class="dropdown-menu submenu">
                                <li>
                                    <a href="/report/receiptperiodicalregister">
                                        <h4>Receipt Register</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/paymentperiodicalregister">
                                        <h4>Payment Register</h4>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle fs-18" data-toggle="dropdown">Account Reports <span
                                    class="right-align"><b class="caret caret-right"></b></span></a>
                            <ul class="dropdown-menu submenu">
                                <li>
                                    <a href="/report/societybalancedetails">
                                        <h4>Society Balance</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/societybalancedetailsondate">
                                        <h4>Balance As On</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/societyledger">
                                        <h4>Society Ledger</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/memberledger">
                                        <h4>Member Ledger</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/societywisememberledger">
                                        <h4 class="fs-small">Society Wise Member Ledger</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/interest">
                                        <h4 class="fs-small">Interest Ledger</h4>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle fs-18" data-toggle="dropdown">Other Reports <span
                                    class="right-align"><b class="caret caret-right"></b></span></a>
                            <ul class="dropdown-menu submenu">
                                <li>
                                    <a href="/report/societywisecalwingage">
                                        <h4>Calwing Age</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/societywisecalwinganalysis">
                                        <h4>Calwing Analysis</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/societywiseheiferdate">
                                        <h4>Heifer Date</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="/report/societywisedeathdate">
                                        <h4>Death Date</h4>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/auth/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- 
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<header class="navbar navbar-fixed-top" role="banner">
    <nav>
        <label class="logo">CPFMS</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Features
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">JQuery</a></li>
                    <li><a href="#">Javascript</a></li>
                </ul>
            </li>
            <li><a href="#">Web Design
                    <i class="fas fa-caret-down"></i>
                </a>
                <ul>
                    <li><a href="#">Front End</a></li>
                    <li><a href="#">Back End</a></li>
                    <li><a href="#">Others
                            <i class="fas fa-caret-right"></i>
                        </a>
                        <ul>
                            <li><a href="#">Links</a></li>
                            <li><a href="#">Works</a></li>
                            <li><a href="#">Status</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </nav>
</header>
  -->




<div class="loading">
    <div class="loading-wrap">
        <div class="spinner-fast">
            <div class="spinner-fast">
                <div class="spinner-fast">
                    <div class="spinner-fast">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>