<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CPFMS</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
        rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>
    <link rel="stylesheet" href="/css/master-index.css">
    <link rel="stylesheet" href="/css/master/receipt.css">
    <script src="/js/master-index.js"></script>

</head>

<body>
    <%- include('./partials/navbar.ejs') %>

    <main>
        <div class="container" style="background-color: #DBFFFB; width: 98%;">
            <%- include('./partials/err.ejs') %>
            <div style="height: 85vh; display: flex; justify-content: center;">
                <img style="width: 80%;" src="/images/vasudhara_home.jpg" alt="Vasudhara">
            </div>
        </div>
        <br/>
    </main>
</body>

</html>